{% extends "basefix.html" %}
{% load static %}

<!-- タイトル -->
{% block title %}作業履歴修正{% endblock %}

<!-- メインコンテンツ -->
{% block main %}
<main>
  <body class="bg-light">
    <div class="container">
      <div class="py-5 text-center">
        <h2>作業履歴修正</h2>
      </div>
      <div class="row">
        <div class="col-md-12 order-md-1">
          <form>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="executeDate">検査日： <font color="green">{{ inspect_date }}</font></label><br>
                <input type="text" id="executeDate">
              </div>
              <div class="col-md-6 mb-3">
                <label for="selectOperator">担当者： <font color="green">{{ operator }}</font></label>
                <select class="form-control" id="selectOperator" placeholder="" value="" required>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="inputCustomerName">ユーザー名： <font color="green">{{ customer_name }}</font></label>
                <input type="text" class="form-control" id="inputCustomerName" placeholder="" value="" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="selectCustomer">ユーザー名選択</label>
                <select class="form-control" id="selectCustomer">
                </select>
              </div>

            </div>


            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="inputWorkingContents">作業内容： <font color="green">{{ working_contents }}</font></label>
                <input type="text" class="form-control" id="inputWorkingContents">
              </div>
              <div class="col-sm">
              </div>
              <div class="col-sm">
                <label for="inputWorkingMinutes">作業時間： <font color="green">{{ working_minutes }}</font></label>
                <input type="text" class="form-control" id="inputWorkingMinutes" placeholder="分">
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <label for="buttonDelete"></label>
                <button class="btn-danger btn-lg btn-block" type="submit" id="buttonDelete">削除</button>
              </div>
              <div class="col-sm">
              </div>
              <div class="col-md-6 mb-3">
                <label for="buttonInput"> </label>
                <button class="btn btn-warning btn-lg btn-block" type="submit" id="buttonInput">修正</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <br><br>
    <div class=container>
      <table class='table table-striped'>
        <thead class='thead-light'>
          <tr>
            <th scope="col">#</th>
            <th scope="col">作業日</th>
            <th scope="col">担当者</th>
            <th scope="col">ユーザー名</th>
            <th scope="col">作業内容</th>
            <th scope="col">作業時間</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><a href="/fixworkingrecord/{{ record_id }}/">1</a></th>
            <td>{{ inspect_date }}</td>
            <td>{{ operator }}</td>
            <td>{{ customer_name }}</td>
            <td>{{ working_contents }}</td>
            <td class="text-right">{{ working_minutes }}</td>
            </tf>
        </tbody>
      </table>
    </div>

    <div class="row">
      <input type="hidden" id="recordDate" value={{ inspect_date }}>
      <input type="hidden" id="recordId" value={{ record_id }}>
      <input type="hidden" id="customerId" value={{ customer_id }}>
      <input type="hidden" id="customerName" value={{ customer_name }}>
      <input type="hidden" id="operatorId" value={{ operator_id }}>
      <input type="hidden" id="operator" value= {{ operator }}>
      <input type="hidden" id="workingContents" value={{ working_contents }}>
      <input type="hidden" id="workingMinutes" value={{ working_minutes }}>
    </div>
  </body>
</main>

<script src="{% static 'inputworking.js' %}"></script>
<script>
$(function(){
  $.datepicker.setDefaults($.datepicker.regional["ja"]);
  $("#executeDate").datepicker({
    dateFormat: "yy-mm-dd"
  });
});
$('#buttonInput').click(function () {
  var updateList = {};
  // 検査日
  var executeDate = document.getElementById("executeDate").value;
  const regex = new RegExp('^[0-9]{4}-[0-9]{2}-[0-9]{2}$');
  if(regex.test(executeDate)){
    updateList.working_date = executeDate;
  }

  // 担当者
  var operatorList = document.getElementById("selectOperator");
  var operatorId = Number(document.getElementById("operatorId").value);
  var selectOperatorNum;
  for(var i = 0; i < operatorList.options.length; i++){
    if(operatorList.options[i].selected){
      selectOperatorNum = i;
    }
  }
  if(Number.isInteger(selectOperatorNum)){
    if(operatorIdArr[selectOperatorNum] !== operatorId){
      updateList.operator = operatorIdArr[selectOperatorNum];
    }
  }

  // ユーザー名
  var customerList = document.getElementById("selectCustomer");
  var customerId = document.getElementById("customerId").value;
  var selectCustomerNum;
  for (var i = 0; i < customerList.options.length; i++) {
    if (customerList.options[i].selected) {
      selectCustomerNum = i;
    }
  }
  if(Number.isInteger(selectCustomerNum)){
    if(customerIdArr[selectCustomerNum] !== customerId){
      updateList.customer = customerIdArr[selectCustomerNum];
    }
  }


  // 作業内容
  var workingContents = document.getElementById("inputWorkingContents").value;
  if(workingContents !== null && workingContents !== ""){
    updateList.working_contents = workingContents;
  }


  // 作業時間 
  var workingMinutes = 0;
  var inputWorkingMinutes = document.getElementById("inputWorkingMinutes").value;
  var recordWorkingMinutes = document.getElementById("workingMinutes").value;
  if(inputWorkingMinutes && Number.isInteger(Number(inputWorkingMinutes))){
    workingMinutes = Number(workingMinutes);
    if(inputWorkingMinutes !== Number(workingMinutes)){
      updateList.working_minutes = inputWorkingMinutes;
    }
  }


  $.each(updateList, function(key, value){
    console.log(key + " : " + value);
  });
  

  if(Object.keys(updateList).length === 0){
    alert("修正する項目はありません");
  }else{
    function getCookie(name){
      let cookieValue = null;
      if(document.cookie && document.cookie !== ''){
        const cookies = document.cookie.split(';');
        for(let i = 0; i < cookies.length; i++){
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')){
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
    var recordId = document.getElementById("recordId").value;
    $.ajax({
      type: 'PATCH',
      url: '/api/v1/workingrecord/' + recordId + '/',
      headers: {'X-CSRFToken': csrftoken},
      data: updateList,
      datatype: 'json',
      success: function(data, statusText, jqXHR){
        alert("修正しました");
        window.location.href = "/fixworkingrecord/" + recordId + "/";
      },
      error: function(jqXHR, statusText, error){
        console.log(jqXHR.status);
        alert("error!(作業履歴) " + jqXHR.status);
      }
    });
  }
});

$('#buttonDelete').click(function(){
  var recordId = document.getElementById("recordId").value;
  var recordDate = document.getElementById("recordDate").value;
  var operator = document.getElementById("operator").value;
  var customerName = document.getElementById("customerName").value;
  var workingContents = document.getElementById("workingContents").value;
  var workingMinutes = document.getElementById("workingMinutes").value;
  var text = '';
  text += '作業日：' + recordDate + '\n';
  text += '担当者：' + operator + '\n';
  text += 'ユーザー名：' + customerName + '\n';
  text += '作業内容：' + workingContents + '\n'; 
  text += '作業時間：' + workingMinutes + '\n';
  text += 'この記録を削除しますか？';
  var result = window.confirm(text);
  if(result){
    function getCookie(name){
      let cookieValue = null;
      if(document.cookie && document.cookie !== ''){
        const cookies = document.cookie.split(';');
        for(let i = 0; i < cookies.length; i++){
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')){
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
    $.ajax({
      type: 'DELETE',
      url: '/api/v1/workingrecord/' + recordId + '/',
      headers: {'X-CSRFToken': csrftoken},
      datatype: 'json',
      success: function(data, statusText, jqXHR){
        alert("1件の記録を削除しました");
        window.location.href = '/';
      },
      error: function(jqXHR, statusText, error){
        console.log(jqXHR.status);
        alert("error! 削除できませんでした");
      }
    });
  }else{
    console.log("canceled");
  }

});

</script>

{% endblock %}
