{% extends "base.html" %}
{% load static %}

<!-- タイトル -->
{% block title %}作業実績入力{% endblock %}

<!-- メインコンテンツ -->
{% block main %}
<main>
  <body class="bg-light">
    <div class="container">
      <div class="py-5 text-center">
        <h2>作業実績入力</h2>
      </div>
      <div class="row">
        <div class="col-md-12 order-md-1">
          <form class="needs-validation" novalidate>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="executeDate">実施日</label>
                <h3><font color="green"><div id="executeDate">{{ execute_date }}</div></font></h3>
              </div>
              <div class="col-md-6 mb-3">
                <label for="selectOperator">担当者</label>
                <select class="form-control" id="selectOperator" placeholder="" value="" required>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="inputCustomerName">ユーザー名</label>
                <input type="text" class="form-control" id="inputCustomerName" placeholder="" value="" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="selectCustomer">ユーザー名選択</label>
                <select class="form-control" id="selectCustomer">
                </select>
              </div>

              <div class="col-md-6 mb-3">
                <label for="inputContents">作業内容</label>
                <input type="text" class="form-control" id="inputContents">
              </div>
              <div class="col-sm">
              </div>
              <div class="col-sm">
                <label for="inputWorkingTime">所要時間</label>
                <input type="text" class="form-control" id="inputWorkingTime" placeholder="分">
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <label for="buttonCSV"></label>
                <button class="btn btn-success btn-lg btn-block" type="submit" id="buttonCSV">当日実績CSV出力</button>
              </div>
              <div class="col-sm">
              </div>
              <div class="col-md-6 mb-3">
                <label for="buttonInput"> </label>
                <button class="btn btn-primary btn-lg btn-block" type="submit" id="buttonInput">入力</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
      <br><br>
    <div class=container>
      <table class='table table-striped'>
        <caption>作業実績</caption>
        <thead class='thead-light'>
          <tr>
            <th scope="col">#</th>
            <th scope="col">担当者</th>
            <th scope="col">ユーザー名</th>
            <th scope="col">作業内容</th>
            <th scope="col">所要時間(分)</th>
            <th scope="col">登録時刻</th>
          </tr>
        </thead>
        <tbody id="inspectrecordraw">
          {% for record in record_list %}
            <tr>
              <th scope="row">
                <a href="/fixworkingrecord/{{ record.id }}">{{ forloop.counter }}</a>
              </th>
              <td>{{ record.operator.operator_name }}</td>
              <td>{{ record.customer.customer_name }}</td>
              <td>{{ record.working_contents }}</td>
              <td class="text-right">{{ record.working_minutes }}</td>
              <td>{{ record.created_at|date:"H:i:s" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</main>

<script src="{% static 'inputworking.js' %}"></script>
<script>
$('#buttonInput').click(function () {
  var executeDate = document.getElementById("executeDate").textContent;

  var operatorList = document.getElementById("selectOperator");
  var selectOperatorNum;
  for(var i = 0; i < operatorList.options.length; i++){
    if(operatorList.options[i].selected){
      selectOperatorNum = i;
    }
  }

  var customerList = document.getElementById("selectCustomer");
  var selectCustomerNum;
  for (var i = 0; i < customerList.options.length; i++) {
    if (customerList.options[i].selected) {
      selectCustomerNum = i;
    }
  }

  var inputContents = document.getElementById("inputContents").value

  var workingTime = 0;
  var inputWorkingTime = document.getElementById("inputWorkingTime").value;
  if(Number.isInteger(Number(inputWorkingTime))){
    workingTime = inputWorkingTime;
  }

  if(!Number.isInteger(selectOperatorNum)){
    alert("担当者を選択して下さい");
  }else if(!Number.isInteger(selectCustomerNum)){
    alert("ユーザー名を選択して下さい");
  }else if(inputWorkingTime === ""){
    alert("所要時間が入力されていません");
  }else{
    function getCookie(name){
      let cookieValue = null;
      if(document.cookie && document.cookie !== ''){
        const cookies = document.cookie.split(';');
        for(let i = 0; i < cookies.length; i++){
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')){
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    function inputWorking(){
      let deferred = new $.Deferred;
      $.ajax({
        type: 'POST',
        url: '/api/v1/workingrecord/',
        headers: {'X-CSRFToken': csrftoken},
        data:{
         working_date: executeDate, 
         working_contents: inputContents,
         working_minutes: inputWorkingTime, 
         operator: operatorIdArr[selectOperatorNum],
         customer: customerIdArr[selectCustomerNum]
        },
        datatype: 'json'
      })
      .done(function(){
        deferred.resolve();
      })
      .fail(function(){
        alert("作業実績入力エラー");
        deferred.reject();
      });
      return deferred.promise();
    }

    function reload(){
      let executeDate = document.getElementById("executeDate").textContent;
      window.location.href = '/inputworkingrecord/' + executeDate + '/';
    }

    inputWorking()
    .then(reload, function(){alert("再読み込みエラー");});
  }
});


$('#buttonCSV').click(function(){

  let executeDate = document.getElementById("executeDate").textContent;
  let operatorList = document.getElementById("selectOperator");
  let selectOperatorNum;
  for(let i = 0; i < operatorList.options.length; i++){
    if(operatorList.options[i].selected){
      selectOperatorNum = i;
    }
  }
  let operatorid = operatorIdArr[selectOperatorNum];

  if(!Number.isInteger(selectOperatorNum)){
    alert("担当者を選択して下さい");
  }else{

    const tableName = '作業実績';
    const rowHeader = '番号,日付,担当者,ユーザー名,作業内容,登録時刻,作業時間'

    function todays_working_record_out(){
      $.ajax({
        type: 'GET',
        url: '/api/v1/workingrecord/?date__exact=' + executeDate + '&operator_id=' + operatorid + '&working_minutes__gt=0', 
        datatype: 'json'
      })
      .done(function(data){
        let csvContent = '';
        csvContent += rowHeader + '\r\n';
        let dt = new Date();
        dt.setDate(dt.getDate());
        let csvFileName = tableName + dt.toISOString().substring(0,19) + '.csv';
        const bom = new Uint8Array([0xef, 0xbb, 0xbf]);
        let re = /T(\d{2}:\d{2}:\d{2})/
        // 2022-01-15T17:31:41.992958+09:00
        $.each(data, function(index, value){
          let inputTime = value.created_at.match(re);
          let rowdata = '';
          rowdata += (index + 1) + ',';
          rowdata += value.working_date + ',';
          rowdata += value.operator_name + ',';
          rowdata += value.customer_name + ',';
          rowdata += value.working_contents + ','; 
          rowdata += inputTime[1] + ','; 
          rowdata += value.working_minutes;
          rowdata += '\r\n';
          csvContent += rowdata;
        })
        const blob = new Blob([bom, csvContent], { type: 'text/csv'});
        const dlURL = (window.URL || window.webkitURL).createObjectURL(blob);
        const download = document.createElement("a");
        download.href = dlURL;
        download.download = csvFileName;
        download.click();
        (window.URL || window.webkitURL).revokeObjectURL(dlURL);
      })
      .fail(function(){
        alert("CSVデータ出力エラー");
      })
    }
    todays_working_record_out();
  }
});

</script>

{% endblock %}